h2 {
    background-color: blue;
  }
  
  main {
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    height: 100%;
  }
  
  footer {
    position: absolute;
    bottom: 0;
  }
  
  .logo {
    width: auto;
    height: 75px;
  }
  
  footer {
    font-size: 10px;
    padding: auto;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .detdel
  {
    text-decoration: none; 
    color: black;
  }
  .detdel:hover {
    background-color: black;
    border-radius: 5px;
    color: white;
  }