/* CSS pour la page Ajout Vannes */

/* Style pour le titre */
h1 {
    text-align: center; /* Centre le texte */
    font-size: 24px; /* Taille de la police */
    color: #333; /* Couleur du texte */
}

/* Styles pour les étiquettes des champs */
label {
    display: block; /* Affiche les étiquettes sur une nouvelle ligne */
    margin-bottom: 5px; /* Ajoute un espace en bas de chaque étiquette */
    font-weight: bold; /* Met en gras le texte des étiquettes */
}

/* Styles pour les champs de saisie */
input[type="text"],
input[type="number"],
select {
    width: 100%; /* Occupe toute la largeur disponible */
    padding: 8px; /* Espace à l'intérieur du champ */
    margin-bottom: 10px; /* Ajoute un espace en bas de chaque champ */
    border: 1px solid #ccc; /* Bordure de couleur gris clair */
    border-radius: 4px; /* Coins arrondis */
    box-sizing: border-box; /* Inclut les bordures et le rembourrage dans la largeur et la hauteur totales */
}

/* Styles pour les boutons */
button[type="submit"] {
    background-color: #4CAF50; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espace à l'intérieur du bouton */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Curseur de la souris en forme de main */
    margin: 0 auto 60px auto;
    width: 90%;
    justify-content: center; /* Centre horizontalement */
    align-items: center;
}

/* Changement de couleur au survol du bouton */
button[type="submit"]:hover {
    background-color: #45a049; /* Couleur de fond au survol */
}

/* Styles pour les conteneurs de groupe */
.form-group {
    margin-bottom: 20px; /* Ajoute un espace en bas de chaque groupe de champs */
}

/* Styles pour les conteneurs principaux du formulaire */
#infoGeneral,
#infoCorps,
#infoActionneur,
#infoPositionneur,
#infoPositionneurBIS {
    background-color: #f9f9f9; /* Couleur de fond */
    padding: 20px; /* Espace intérieur */
    border-radius: 8px; /* Coins arrondis */
    margin-bottom: 20px; /* Ajoute un espace en bas */
    border: 2px solid #000; /* Ajoute une bordure noire de 2px */
    margin-left: 20px; /* Ajoute un espace à gauche */
    margin-right: 20px; /* Ajoute un espace à droite */
}

/* Styles pour les divs contenant les champs "Autre" */
#nouveauFournisseur,
#nouveauAtelier {
    margin-top: 10px; /* Ajoute un espace en haut */
}

/* Style pour les messages en gras */
.bold {
    font-weight: bold; /* Texte en gras */
}

/* Styles pour les conteneurs de tableau */
.table-container {
    overflow-x: auto; /* Ajoute une barre de défilement horizontale si nécessaire */
    margin-bottom: 20px; /* Ajoute un espace en bas */
    text-align: center; /* Centre le contenu du conteneur */

}


/* Styles pour les tableaux */
.table-container table {
    width: 100%; /* Ajuste la largeur pour qu'elle occupe 100% de la largeur du conteneur */
    margin: 0 auto; /* Centre le tableau horizontalement si moins large que le conteneur */
    border-collapse: collapse; /* Fusionne les bordures des cellules */
}

/* Styles pour les en-têtes de tableau */
.table-container th {
    background-color: #f2f2f2; /* Couleur de fond */
    border: 1px solid #ddd; /* Bordure */
    padding: 8px; /* Espace intérieur */
}

/* Styles pour les cellules de tableau */
.table-container td {
    border: 1px solid #ddd; /* Bordure */
    padding: 8px; /* Espace intérieur */
}
