{% extends 'appliVanne/base.html' %}
{% load static %}

{%block extra_css%}
<style>
    .container {
        max-width: 400px;
        padding: 40px;
        margin-top: 100px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .form-control {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #cccccc;
        border-radius: 5px;
    }

    .btn-primary {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    label {
        text-align: left;
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    /* Style de base pour les messages */
ul.messages {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

ul.messages li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

/* Styles spécifiques pour les différents types de messages */
/* Ajustez les couleurs selon vos préférences */
ul.messages li.info {
  background-color: #017bff;
}

ul.messages li.success {
  background-color: #28a745;
}

ul.messages li.warning {
  background-color: #ffc107;
  color: #212529; /* Couleur du texte pour un fond jaune */
}

ul.messages li.error {
  background-color: #dc3545;
}


</style>
{% endblock %}

{% block title %} Connexion {% endblock %}
{% block main %}
<div class="container">
    <p>Connexion</p>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <form id="form_login" method="post" action="/connexion/">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username">Identifiant</label>
            <input type="text" class="form-control" id="id_username" name="username" placeholder="Votre identifiant">
        </div>
        <div class="mb-3">
            <label for="id_password">Mot de passe</label>
            <input type="password" class="form-control" id="id_password" name="password" placeholder="Votre mot de passe">
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
</div>
{% endblock %}
