{% extends 'appliVanne/base.html' %}
{% load static %}
{% block extra_css %}
<style>
    main{
        height: 100%;
        margin: 0;
        font-family: 'Arial', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, #74ABE2, #5563DE);
    }

    .div-logout {
        text-align: center;
        background-color: #ffffff;
        padding: 40px 60px;
        border-radius: 10px;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
    }

    p {
        color: #333;
        font-size: 22px;
        margin-bottom: 30px;
        font-weight: normal;
    }

    main a {
        font-weight: bold;
        color: #ffffff;
        background-color: #5563DE;
        padding: 12px 30px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    a:hover {
        background-color: #4053AB;
    }
</style>
{% endblock %}
{% block head %}
<!-- Ajout de styles personnalisés pour la page de déconnexion -->

{% endblock %}

{% block title %} Au revoir {% endblock %}

{% block main %}
<div class="div-logout">
    <p>Vous nous manquez déjà !</p>
    <p>Nous espérons vous revoir bientôt !</p>
    <a href="/login/">Connexion</a>
</div>
{% endblock %}
