{% extends "appliVanne/base.html" %} {% load static %} {% block title %} Ajout Vannes {% endblock %}

{% block extra_css%}
<link
  rel="stylesheet"
  href="{% static 'appliVanne/CSS/styleCreationVanne.css' %}" />
{% endblock %}

{% block extra_js%}
    <script src="{% static 'appliVanne/JS/creationVanne.js' %}"></script>
{% endblock%}


{% block main %}

    <h1>Ajouter une vanne</h1>
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Erreur(s) lors de la soumission du formulaire :</strong>
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <li><strong>{{ field.label|capfirst }}:</strong> {{ error }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form action="{% url 'traitementAjoutVanne' %}" method="POST" id = "leformulaire"> <!-- Assurez-vous que l'URL est correcte -->
        {% csrf_token %}

        <div id="infoGeneral">

            <div class="form-group">
                <label for="id_atelier">Nom de l'atelier:</label>
                <select name="id_atelier" id="id_atelier" class="form-control">
                    {% for atl in listAtelier %}
                    <option value="{{atl.id_atelier}}" {% if request.POST.id_atelier|stringformat:"s" == atl.id_atelier|stringformat:"s" %}selected{% endif %}>{{ atl.nom_atelier }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group" id="nouveauAtelier" style="{% if request.POST.nouveau_atelier %}display:block;{% else %}display:none;{% endif %}">
                <label for="nouveau_atelier">Nom du nouvel Atelier:</label>
                <input type="text" name="nouveau_atelier" id="nouveau_atelier" class="form-control" value="{{ request.POST.nouveau_atelier|default_if_none:'' }}">
            </div>
            
            <!-- Champ repère -->
            <div class="form-group">
                <label for="repere_vanne">Repère:</label>
                <input type="text" name="repere_vanne" id="repere_vanne" class="form-control" value="{{ request.POST.repere_vanne|default_if_none:'' }}">
            </div>

            <!-- Champ affectation -->
            <div class="form-group">
                <label for="affectation_vanne">Emplacement usine:</label>
                <input type="text" name="affectation_vanne" id="affectation_vanne" class="form-control" value="{{ request.POST.affectation_vanne|default_if_none:'' }}">
            </div>

            <!-- Champ numéro de commande -->
            <div class="form-group">
                <label for="numero_commande">Numéro de la Commande:</label>
                <input type="text" name="numero_commande" id="numero_commande" class="form-control" value="{{ request.POST.numero_commande|default_if_none:'' }}">
            </div>

            <!--Date de la Commande-->
            <div class="form-group">
                <label for="date_de_la_commande">Date de la Commande:</label>
                <input type="date" name="date_de_la_commande" id="date_de_la_commande" class="form-control" value="{{ request.POST.date_de_la_commande|default_if_none:'' }}">
            </div>

            <!-- Champ type de vanne -->
            <div class="form-group">
                <label for="type_vanne">Type de vanne:</label>
                <select name="type_vanne" id="type_vanne" class="form-control">
                    <option value="1" {% if request.POST.type_vanne == "1" %}selected{% endif %}>TOR</option>
                    <option value="2" {% if request.POST.type_vanne == "2" %}selected{% endif %}>REG</option>
                </select>
            </div>

            
            <!--Frequence de revision-->
            <div class="form-group">
                <label>Cette vanne à besoin d'une revision ? </label>
                <select name="infoRevisionBIS" id="infoRevisionBIS" class="form-control">
                    <option value='0' {% if request.POST.revision == '0' %} selected {% endif %}>NON</option>
                    <option value='1' {% if request.POST.revision == '1' %} selected {% endif %}>OUI</option>
                </select>
            </div>
                
            <div class="form-group" id="tempsRevision" style="display: none;">
                <label for="tempsRev">À réviser tout les :</label>
                <input type="number" name="tempsRev" id="tempsRev" class="form-control" value="{{ request.POST.tempsRev|default_if_none:'' }}">
                ans
            </div>



        </div>

        <div id="infoCorps">
            <!-- Titre en gras -->
            <h2 class="bold"> Information sur le corps </h2>
        
            <!-- Fournisseur -->
            <div class="form-group">
                <label for="id_fournisseur">Fournisseur:</label>
                <select name="id_fournisseur" id="id_fournisseur" class="form-control">
                    {% for frn in listFournisseur %}

                            <option value="{{ frn.id_fournisseur }}" {% if request.POST.id_fournisseur|stringformat:"s" == frn.id_fournisseur|stringformat:"s" %}selected{% endif %}>{{ frn.nom_fournisseur }}</option>  
                    {% endfor %}
                </select>
            </div>
        
            <!-- Nouveau Fournisseur -->
            <div class="form-group" id="nouveauFournisseur" style="{% if request.POST.nouveau_fournisseur and request.POST.nouveau_fournisseur != '-1' %}display:block;{% else %}display:none;{% endif %}">
                <label for="nouveau_fournisseur">Nom du Nouveau Fournisseur:</label>
                <input type="text" name="nouveau_fournisseur" id="nouveau_fournisseur" class="form-control" value="{{ request.POST.nouveau_fournisseur|default_if_none:'' }}">
            </div>
        
            <!-- Taille du corps -->
            <div class="form-group">
                <label for="taille_corps">Taille du corps (DN):</label>
                <input type="number" name="taille_corps" id="taille_corps" class="form-control" value="{{ request.POST.taille_corps|default_if_none:'' }}">
            </div>
        
            <!-- Code du corps -->
            <div class="form-group">
                <label for="code_corps">Code du matériel:</label>
                <input type="text" name="code_corps" id="code_corps" class="form-control" value="{{ request.POST.code_corps|default_if_none:'' }}">
            </div>
        
            <!-- Type de corps -->
            <div class="form-group">
                <label for="type_corps">Type de corps:</label>
                <input type="text" name="type_corps" id="type_corps" class="form-control" value="{{ request.POST.type_corps|default_if_none:'' }}">
            </div>
        
            <!-- Tableaux d'informations -->
            <div class="table-container">
                <table>
                    <tr>
                        <th>PN Corps</th>
                        <th>CV Corps</th>
                        <th>Numéro de série corps</th>
                    </tr>
                    <tr>
                        <td><input type="number" name="pn_corps" class="form-control" value="{{ request.POST.pn_corps|default_if_none:'' }}"></td>
                        <td><input type="number" name="cv_corps" class="form-control" value="{{ request.POST.cv_corps|default_if_none:'' }}"></td>
                        <td><input type="text" name="numero_serie_corps" class="form-control" value="{{ request.POST.numero_serie_corps|default_if_none:'' }}"></td>
                    </tr>
                </table>
        
                <table>
                    <tr>
                        <th>Matière du corps</th>
                        <th>Norme bride corps</th>
                        <th>Garniture corps</th>
                        <th>Type garniture</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="corps_corps" class="form-control" value="{{ request.POST.corps_corps|default_if_none:'' }}"></td>
                        <td><input type="text" name="norme_bride_corps" class="form-control" value="{{ request.POST.norme_bride_corps|default_if_none:'' }}"></td>
                        <td><input type="text" name="garniture_corps" class="form-control" value="{{ request.POST.garniture_corps|default_if_none:'' }}"></td>
                        <td><input type="text" name="type_garniture" class="form-control" value="{{ request.POST.type_garniture|default_if_none:'' }}"></td>
                    </tr>
                </table>
        
                <table>
                    <tr>
                        <th>Matière arbre</th>
                        <th>Matière siège</th>
                        <th>Matière organe réglant</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="matiere_arbre" id="id_matiere_arbre" class="form-control" value="{{ request.POST.matiere_arbre|default_if_none:'' }}"></td>
                        <td><input type="text" name="matiere_siege" id="id_matiere_siege" class="form-control" value="{{ request.POST.matiere_siege|default_if_none:'' }}"></td>
                        <td><input type="text" name="matiere_organe_reglant" id="id_matiere_organe_reglant" class="form-control" value="{{ request.POST.matiere_organe_reglant|default_if_none:'' }}"></td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div id="infoActionneur">
            <!-- Titre en gras -->
            <h2 class="bold"> Information sur l'actionneur </h2>
        
            <!-- Fournisseur -->
            <div class="form-group">
                <label for="fournisseur">Fournisseur:</label>
                <select name="id_fournisseur_actionneur" id="id_fournisseur_actionneur" class="form-control">
                    {% for frn in listFournisseur %}
                            <option value="{{frn.id_fournisseur}}" {% if frn.id_fournisseur|stringformat:"s" == request.POST.id_fournisseur_actionneur|stringformat:"s" %} selected {% endif %}>{{ frn.nom_fournisseur }}</option>
                    {% endfor %}
                </select>
                <!-- Nouveau Fournisseur Actionneur -->
                <div class="form-group" id="nouveauFournisseurActionneur" style="{% if request.POST.nouveau_fournisseur_actionneur %}display:block;{% else %}display:none;{% endif %}">
                    <label for="nouveauFournisseur">Nom du Nouveau Fournisseur:</label>
                    <input type="text" name="nouveau_fournisseur_actionneur" id="nouveau_fournisseur_actionneur" class="form-control" value="{{ request.POST.nouveau_fournisseur_actionneur|default:'' }}">
                </div>
            </div>
        
            <!-- Taille de l'actionneur -->
            <div class="form-group">
                <label for="taille_actionneur">Taille de l'actionneur:</label>
                <input type="number" name="taille_actionneur" id="id_taille_actionneur" class="form-control" value="{{ request.POST.taille_actionneur|default:'' }}">
            </div>
        
            <!-- Type d'actionneur -->
            <div class="form-group">
                <label for="type_actionneur">Type d'actionneur:</label>
                <input type="text" name="type_actionneur" id="id_type_actionneur" class="form-control" value="{{ request.POST.type_actionneur|default:'' }}">
            </div>
        
            <!-- Tableaux d'informations -->
            <div class="table-container">
                <table>
                    <tr>
                        <th>Numéro de serie</th>
                        <th>Commande MANU.</th>
                        <th>Sens</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="numero_serie_actionneur" id="id_numero_serie_actionneur" class="form-control" value="{{ request.POST.numero_serie_actionneur|default:'' }}"></td>
                        <td>
                            <select name="commande_manuelle_actionneur" id="id_commande_manuelle_actionneur" class="form-control">
                                <option value="1" {% if request.POST.commande_manuelle_actionneur == '1' %} selected {% endif %}>OUI</option>
                                <option value="2" {% if request.POST.commande_manuelle_actionneur == '2' %} selected {% endif %}>NON</option>
                            </select>
                        </td>
                        <td>
                            <select name="sens_actionneur" id="id_sens_actionneur" class="form-control">
                                <option value="1" {% if request.POST.sens_actionneur == '1' %} selected {% endif %}>OMA</option>
                                <option value="2" {% if request.POST.sens_actionneur == '2' %} selected {% endif %}>FMA</option>
                                <option value="3" {% if request.POST.sens_actionneur == '1' %} selected {% endif %}>Aucune de caractéritiques</option>

                            </select>
                        </td>
                    </tr>
                </table>
        
                <!-- Autres informations sous forme de tableau -->
                <table>
                    <tr>
                        <th>Pression Alim.</th>
                        <th>Type Contact</th>
                        <th>Effet</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="pression_alimentation" id="id_pression_alimentation" class="form-control" value="{{ request.POST.pression_alimentation|default:'' }}"></td>
                        <td><input type="text" name="type_contact" id="id_type_contact" class="form-control" value="{{ request.POST.type_contact|default:'' }}"></td>
                        <td>
                            <select name="type_effet" id="id_type_effet" class="form-control">
                                <option value="1" {% if request.POST.type_effet == '1' %} selected {% endif %}>SIMPLE</option>
                                <option value="2" {% if request.POST.type_effet == '2' %} selected {% endif %}>DOUBLE</option>
                            </select>
                        </td>
                    </tr>
                </table>
        
                <table>
                    <tr>
                        <th>Contact</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="type_contact_actionneur" id="id_type_contact_actionneur" class="form-control">
                                <option value="1" {% if request.POST.type_contact_actionneur == '1' %} selected {% endif %}>OUVERTURE</option>
                                <option value="2" {% if request.POST.type_contact_actionneur == '2' %} selected {% endif %}>FERMETURE</option>
                                <option value="3" {% if request.POST.type_contact_actionneur == '3' %} selected {% endif %}>OUVERTURE + FERMETURE</option>
                            </select>
                        </td>                        
                    </tr>
                </table>
            </div>
        </div>
        
        <div class="form-group">
            <div id="infoPositionneurBIS">
            <h3>Il y a un positionneur ?</h3>
            <select name="presence_positionneur" id="presence_positionneur" class="form-control">
                <option value='0' {% if request.POST.presence_positionneur == '0' %} selected {% endif %}>NON</option>
                <option value='1' {% if request.POST.presence_positionneur == '1' %} selected {% endif %}>OUI</option>
            </select>
            </div>
        </div>
                
        <div id="infoPositionneur" style="display: none;">
            <h2 class="bold"> Information sur le positionneur </h2>
        
            <div class="form-group">
                <label for="fournisseur">Fournisseur:</label>
                <select name="id_fournisseur_positionneur" id="id_fournisseur_positionneur" class="form-control">
                    {% for frn in listFournisseur %}
                    <option value="{{frn.id_fournisseur}}" {% if frn.id_fournisseur == request.POST.id_fournisseur_positionneur %}selected{% endif %}>{{ frn.nom_fournisseur }}</option>
                    {% endfor %}
                </select>
                <div class="form-group" id="nouveauFournisseurPositionneur" style="display:none;">
                    <label for="nouveauFournisseur">Nom du Nouveau Fournisseur:</label>
                    <input type="text" name="nouveau_fournisseur_positionneur" id="nouveau_fournisseur_positionneur" class="form-control" value="{{ request.POST.nouveau_fournisseur_positionneur|default:'' }}">
                </div>
            </div>
        
            <div class="form-group">
                <label for="Fonctionnement positionneur"> Fonctionnement:</label>
                <select name="id_fonctionnement_positionneur" id="id_fonctionnement_positionneur" class="form-control">
                    {% for pos in listTypePos %}
                    <option value="{{pos.id_fonctionnement_postionneur}}" {% if pos.id_fonctionnement_postionneur == request.POST.id_fonctionnement_positionneur %}selected{% endif %}>{{ pos.description_type_positionneur }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="form-group">
                <label for="type_actionneur"> Type positionneur:</label>
                <input type="text" name="type_positionneur" id="id_type_positionneur" value="{{ request.POST.type_positionneur|default:'0' }}" class="form-control">
            </div>
        
            <div class="table-container">
                <table>
                    <tr>
                        <th>Numéro de serie</th>
                        <th>Signal Entrée</th>
                        <th>Alimentation</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="numero_serie_positionneur" id="id_numero_serie_positionneur" value="{{ request.POST.numero_serie_positionneur|default:'0' }}" class="form-control"></td>
                        <td><input type="number" name="signal_entree_positionneur" id="id_signal_entree_positionneur" value="{{ request.POST.signal_entree_positionneur|default:'0' }}" class="form-control"></td>
                        <td><input type="text" name="alimentation_positionneur" id="id_alimentation_positionneur" value="{{ request.POST.alimentation_positionneur|default:'0' }}" class="form-control"></td>
                    </tr>
                </table>
        
                <table>
                    <tr>
                        <th>Signal sortie</th>
                        <th>Repere Came</th>
                        <th>Face Came</th>
                    </tr>
                    <tr>
                        <td><input type=" number" name="signal_sortie_positionneur" id="id_signal_sortie_positionneur" value="{{ request.POST.signal_sortie_positionneur|default:'0' }}" class="form-control"></td>
                        <td><input type="number" name="repere_came_positionneur" id="id_repere_came_positionneur" value="{{ request.POST.repere_came_positionneur|default:'0' }}" class="form-control"></td>
                        <td><input type="number" name="face_came_positionneur" id="id_face_came_positionneur" value="{{ request.POST.face_came_positionneur|default:'0' }}" class="form-control"></td>
                    </tr>
                </table>
        
                <table>
                    <tr>
                        <th>Sens Action</th>
                        <th>Fermée à</th>
                        <th>Ouverte à</th>
                        <th>Loi de commande</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="sens_action" id="id_sens_action" class="form-control">
                                <option value="1" {% if request.POST.sens_action == '1' %}selected{% endif %}>DIRECT</option>
                                <option value="2" {% if request.POST.sens_action == '2' %}selected{% endif %}>INVERSE</option>
                            </select>
                        </td>
                        <td><input type="number" name="fermee_a_positionneur" id="id_fermee_a_positionneur" value="{{ request.POST.fermee_a_positionneur|default:'0' }}" class="form-control"></td>
                        <td><input type="number" name="ouverte_a_positionneur" id="id_ouverte_a_positionneur" value="{{ request.POST.ouverte_a_positionneur|default:'0' }}" class="form-control"></td>
                        <td><input type="text" name="loi_commande_positionneur" id="id_loi_commande_positionneur" value="{{ request.POST.loi_commande_positionneur|default:'0' }}" class="form-control"></td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div id="editVanne">
            <button type="submit" class="btn-btn-primary">ENREGISTRER LA VANNE</button>
        </div>

    </form>

    <script>
        $('#leformulaire').on('keyup keypress', function(e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>
        


        

    {% endblock %}
