{% extends "appliVanne/base.html" %} {% load static %} {% block title %} Révision {% endblock %}
{% block main %}

<style>
    .container {
        width: 80%;
        margin: auto;
        padding-top: 20px;
    }
    
    .jumbotron {
        background-color: #f8f9fa;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
    }
    
    .card {
        border: 1px solid #ddd;
        margin-top: 20px;
    }
    
    .card-header {
        background-color: #f7f7f7;
        font-weight: bold;
    }
    
    .list-group-item {
        border: none;
        border-bottom: 1px solid #eee;
    }
    
    .list-group-item:last-child {
        border-bottom: none;
    }
    
    /* Vous pouvez ajouter des styles personnalisés ici */
    
</style>
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Révision de la vanne n°{{ infoRevision.rev_id_vanne }}</h1>
        <p class="lead">Révision du {{ infoRevision.date_revision }}</p>
        <hr class="my-4">
        <p>Type d'ajout : {{ infoRevision.ajout_revision }}</p>
        <p>Type de revision : {{ infoRevision.type_revision.type_revision }}</p>
        <p>Nom du technicien : {{ infoRevision.nom_technicien.first_name }} {{infoRevision.nom_technicien.last_name}}</p>
        <p>Commentaire : {{ infoRevision.commentaire_revision }}</p>

    </div>

    <div class="card">
        <div class="card-header">
            Détails de la Révision
        </div>
        <ul class="list-group list-group-flush">
           
            <li class="list-group-item">{{ infoRevision.detail_commentaire | safe}}</li>
        </ul>
    </div>
</div>


{% endblock %}