{% extends "appliVanne/base.html" %} {% load static %} {% block title %} Détail Vannes n°{{vanne.id_vanne}} {% endblock %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{% static 'appliVanne/CSS/styleVanneDetail.css' %}" />

  
{% endblock %} 

{% block main %}

<!--
  Tableau avec liste des vanne  et le info suivante : 
    - numéro de la vanne
    - nom de l'atelier
    - repere de la vanne
    - affectation de la vanne
    - type de vanne

  option pour voir en detail, mettre à jour et supprimer la vanne
-->

<div>
  <a href="/vanne/{{vanne.id_vanne}}/edit" class="btn btn-primary" > Modifier</a>
  {%if vanne.voir_en != None %}
   <a href="/vanne/{{vanne.id_vanne}}/revision" class="btn btn-primary rev" > Révision effectué </a>
  {% endif %}
  <a href="/vanne/{{vanne.id_vanne}}/print" class="btn btn-primary" > Imprimer</a>

  <a href="/vanne/{{vanne.id_vanne}}/commente" class="btn btn-primary" > Ajouter un commentaire</a>


</div>
<!-- INFO VANNES -->
<div id="tableauGeneral">
  <h3>Informations générales de la vanne n°{{vanne.id_vanne}}:</h3>

  <table>
    <tbody>
      <tr class="ligne">
        <td class="debutLigne">ATELIER :</td>
        <td class="ligneFin">{{ vanne.id_atelier.nom_atelier }}</td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">REPERE VANNE :</td>
        <td class="ligneFin">{{ vanne.repere_vanne }}</td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">AFFECTION DE LA VANNE :</td>
        <td class="ligneFin">{{ vanne.affectation_vanne }}</td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">NUMÉRO DE LA COMMANDE :</td>
        <td class="ligneFin">{{ vanne.numero_commande }}</td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">DATE DE LA COMMANDE :</td>
        <td class="ligneFin">{{ vanne.date_commande }}</td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">Prochaine / Fréquence / Dernière revision:</td>
        <td class="ligneFin">
          {%if vanne.voir_en == None and vanne.freq_revision == None and vanne.derniere_revision == None  %}
          Pas de revision 
          {% else %}
          {{ vanne.voir_en}} / {{vanne.freq_revision}} ans / {{vanne.derniere_revision}}</td>
          {% endif %}

      </tr>
      <tr class="ligne">
        <td class="debutLigne">TYPE DE VANNE :</td>
        <td class="ligneFin">{{ vanne.type_vannes }}</td>
      </tr>
    </tbody>
  </table>

  <!-- INFO CORPS -->
  <h3>Informations sur le corps :</h3>
  <table>
    <tbody>
      <tr class="ligne">
        <td class="debutLigne">FOURNISSEUR :</td>
        <td class="ligneFin">
          {{ vanne.id_corps.id_fournisseur.nom_fournisseur }}
        </td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">TAILLE CORPS (DN) :</td>
        <td class="ligneFin">{{ vanne.id_corps.dn_corps}}</td>
      </tr>

      <tr class="ligne">
        <td class="debutLigne">CODE :</td>
        <td class="ligneFin">{{ vanne.id_corps.code_corps}}</td>
      </tr>

    </tbody>
  </table>
  <table>
    <tbody>
        <tr>
            <td class="debutLigne">TYPE</td>
            <td class="ligneFin">{{vanne.id_corps.type_corps}}</td>
            <td class="debutLigne">NUM. SÉRIE</td>
            <td class="ligneFin">{{vanne.id_corps.num_serie_corps}}</td>
            <td class="debutLigne">CDE MANUELLE</td>
            <td class="ligneFin"> {% if vanne.id_actionneur.commande_manuel == "1"%} Oui {% elif vanne.id_actionneur.commande_manuel is None  %} N/C {% else %} Non {% endif %}</td>
        </tr>

        <tr>
            <td class="debutLigne">PN</td>
            <td class="ligneFin">{{vanne.id_corps.pn_corps}}</td>
            <td class="debutLigne">NORME BRIDES</td>
            <td class="ligneFin">{{vanne.id_corps.norme_bride_corps}}</td>
            <td class="debutLigne">MATIERE ARBRE</td>
            <td class="ligneFin">{{vanne.id_corps.matiere_arbre_corps}}</td>
        </tr>

        <tr>
            <td class="debutLigne">CV</td>
            <td class="ligneFin">{{vanne.id_corps.cv_corps}}</td>
            <td class="debutLigne">GARNITURES</td>
            <td class="ligneFin">{{vanne.id_corps.matiere_garnitures_corps}}</td>
            <td class="debutLigne">MATIERE SIEGE</td>
            <td class="ligneFin">{{vanne.id_corps.matiere_siege_corps}}</td>
        </tr>
        <tr>
            <td class="debutLigne">CORPS</td>
            <td class="ligneFin">{{vanne.id_corps.corps_corps}}</td>
            <td class="debutLigne">TYPE GARN.</td>
            <td class="ligneFin">{{vanne.id_corps.type_garniture_corps}}</td>
            <td class="debutLigne">MATIERE ORG. REG.</td>
            <td class="ligneFin">{{vanne.id_corps.matiere_org_reglant_corps}}</td>
        </tr>
      
    </tbody>
  </table>

  <!-- INFO ACTIONNEUR -->
  <h3>Informations sur l'actionneur :</h3>
  <table>
    <tbody>
      <tr class="ligne">
        <td class="debutLigne">FOURNISSEUR :</td>
        <td class="ligneFin">
          {{ vanne.id_actionneur.id_fournisseur.nom_fournisseur }}
        </td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">TAILLE :</td>
        <td class="ligneFin">{{ vanne.id_actionneur.taille_actionneur}}</td>
      </tr>

      <tr class="ligne">
        <td class="debutLigne">TYPE :</td>
        <td class="ligneFin">{{ vanne.id_actionneur.type_actionneur}}</td>
      </tr>

    </tbody>
  </table>
  <table>
    <tbody>
        <tr>
            <td class="debutLigne">TYPE</td>
            <td class="ligneFin">{{vanne.id_actionneur.type_actionneur}}</td>
            <td class="debutLigne">NUM. SÉRIE</td>
            <td class="ligneFin">{{vanne.id_actionneur.num_serie_actionneur}}</td>
            <td class="debutLigne">CDE MANUELLE</td>
            <td class="ligneFin"> {% if vanne.id_actionneur.commande_manuel == "1"%} Oui {% else %} Non {% endif %}

          </td>
                    </tr>
        <tr>
            <td class="debutLigne">SENS : </td>
            <td class="ligneFin">{{vanne.id_actionneur.sens_actionneur}}</td>
            <td class="debutLigne">PRESSION ALIM.</td>
            <td class="ligneFin">{{vanne.id_actionneur.pression_alimentation}}</td>
            <td class="debutLigne">TYPE CONT. </td>
            <td class="ligneFin">{{vanne.id_actionneur.type_contact_actionneur}}</td>
        </tr>

        <tr>
            <td class="debutLigne">EFFET </td>
            <td class="ligneFin">{{vanne.id_actionneur.actionneur_simpl_double_effet}}</td>
            <td class="debutLigne">CONTACT</td>
            <td class="ligneFin">{{vanne.id_actionneur.contact_ouv_ferm_actionneur}}</td>
            <td class="debutLigne"></td>
            <td class="ligneFin"></td>
        </tr>
       <!-- <tr>
            <td class="debutLigne">CORPS</td>
            <td class="ligneFin">{{vanne.id_corps.corps_corps}}</td>
            <td class="debutLigne">TYPE ?</td>
            <td class="ligneFin">{{vanne.id_corps.type_corps}}</td>
            <td class="debutLigne">MATIERE ORG. REG.</td>
            <td class="ligneFin">{{vanne.id_corps.matiere_org_reglant}}</td>
        </tr>
      -->
    </tbody>
  </table>


  <!-- INFO CORPS -->

  {% if vanne.id_positionneur is null %}

  <h3> Aucun positionneur pour cette vanne </h3>
    
  {% else %}

  <h3>Informations sur le positionneur :</h3>
  <table>
    <tbody>
      <tr class="ligne">
        <td class="debutLigne">FOURNISSEUR :</td>
        <td class="ligneFin">
          {{ vanne.id_positionneur.id_fournisseur.nom_fournisseur }}
        </td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">TECHNOLOGIE POSITIONNEUR :</td>
        <td class="ligneFin">{{ vanne.id_positionneur.fonctionnement_positionneur.description_type_positionneur}}</td>
      </tr>

      <tr class="ligne">
        <td class="debutLigne">TYPE POSITIONNEUR :</td>
        <td class="ligneFin">{{ vanne.id_positionneur.type_positionneur}}</td>
      </tr>

    </tbody>
  </table>
  <table>
    <tbody>
        <tr>
            <td class="debutLigne">Alimentation</td>
            <td class="ligneFin">{{vanne.id_positionneur.presion_positionneur}}</td>
            <td class="debutLigne">NUM. SERIE</td>
            <td class="ligneFin">{{vanne.id_positionneur.num_serie_positionneur}}</td>
            <td class="debutLigne">LOI</td>
            <td class="ligneFin">{{vanne.id_positionneur.loi_positionneur}}</td>
        </tr>

        <tr>
            <td class="debutLigne">SIGNAL ENTRÉE</td>
            <td class="ligneFin">{{vanne.id_positionneur.signal_entre_positionneur}}</td>
            <td class="debutLigne">REPERE CAME</td>
            <td class="ligneFin">{{vanne.id_positionneur.repere_came}}</td>
            <td class="debutLigne">FERME A</td>
            <td class="ligneFin">{{vanne.id_positionneur.fermer_a}}</td>
        </tr>

        <tr>
            <td class="debutLigne">SIGNAL SORTIE</td>
            <td class="ligneFin">{{vanne.id_positionneur.signal_sortie}}</td>
            <td class="debutLigne">FACE CAME</td>
            <td class="ligneFin">{{vanne.id_positionneur.face_came}}</td>
            <td class="debutLigne">OUVERT A</td>
            <td class="ligneFin">{{vanne.id_positionneur.ouvert_a}}</td>
        </tr>
        <tr>
            <td class="debutLigne">SENS ACTION</td>
            <td class="ligneFin">{{vanne.id_positionneur.sens_action}}</td>
            <td class="debutLigne"></td>
            <td class="ligneFin"></td>
            <td class="debutLigne"></td>
            <td class="ligneFin"></td>
        </tr>
      
    </tbody>
  </table>
  {% endif %}


  {% if infoRevision|length != 0 %}

<table class="table table-striped" style="margin-bottom:50px;">
  <thead>
    <tr>
      <th scope="col">Numéro Révison </th>
      <th scope="col">Date Révision </th>
      <th scope="col">Type Révision</th>
      <th scope="col">Commentaire </th>
      <th scope="col">Nom technicien</th>
    </tr>
  </thead>

  {% for rev in infoRevision %}
    <tr>
      <td>{{ rev.id_revision_vanne }}</td>
      <td>{{ rev.date_revision }}</td>
      <td>{{ rev.type_revision }}</td>
      <td>{{ rev.commentaire_revision }}</td>
      <td>{{ rev.nom_technicien }}</td> 
    </tr>
  {% endfor %}
</table>

{% else %}
  <h3 style = "font-size : 10px"> Aucun commentaire pour cette vanne </h3>
{% endif %}
</div> <!-- <div id="tableauGeneral">-->

  <script>
  document.addEventListener('DOMContentLoaded', function() {
    // Sélectionnez le lien par sa classe
    var deleteLink = document.querySelector('.btn.btn-primary.rev');
    var today = new Date();
    var formattedDate = today.toLocaleDateString();
    // Ajoutez un écouteur d'événements pour le clic
    deleteLink.addEventListener('click', function(event) {
        // Empêchez l'action par défaut (la redirection) de se produire immédiatement
        event.preventDefault();

        // Affichez une boîte de dialogue de confirmation
        var userConfirmation = confirm('Êtes-vous sûr de vouloir confirmé un révison pour ce jour (' + formattedDate +' ) ?');

        // Si l'utilisateur clique sur "OK" dans la boîte de confirmation
        if (userConfirmation) {
            // Redirigez l'utilisateur vers l'URL spécifiée dans l'attribut href du lien
            window.location.href = this.href;
        }
        // Si l'utilisateur clique sur "Annuler", l'action est simplement annulée et rien ne se passe
    });
});

</script>

{% endblock %}
