{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:darkred" >
  <div class="container-fluid">
    <img src="{%static 'appliVanne/IMG/logoLong.ico' %}" class="logo" />

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"> </span>
    </button>

    <div class=" navbar-collapse" id="navbarText" style="color:white">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link" href="/vannes/" style="color:white">LES VANNES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rechangeREG/" style="color:white">RECHANGE REG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rechangeTOR/" style="color:white">RECHANGE TOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/historique/" style="color:white" >HISTORIQUE</a>
        </li>
        
      </ul>
    </div>



      
      <a class="navbar-brand" href="/recherche/">RECHERCHE</a>
      <a href="/recherche/">
         <img src="{% static 'appliVanne/IMG/recherche.ico' %}" alt="Rechercher..." class="logo" />
      </a>
      <a class="navbar-brand" href="/login/">LOGIN</a>
    </div>

  </div>
</nav>
