{% load static %} 

<style>
  @media print {
    body {
        font-family: 'Arial', sans-serif;
        font-size: 15px; /* Taille de police réduite */
        margin: 5px; /* Marge réduite pour le corps du document */
    }
    #tableauGeneral {
        width: 100%; /* Utilisez toute la largeur disponible */
        max-width: 100%; /* Assurez-vous qu'il ne dépasse pas */
        margin: 0 auto; /* Centrage et suppression des marges */
        padding: 10px; /* Padding réduit */
        box-sizing: border-box;
    }
    h2 {
        font-size: 20px; /* Taille de police réduite pour les titres */
        margin: 8px 0; /* Espacement réduit autour des titres */
    }
    h4
    {
        font-size: 17px; /* Taille de police réduite pour les titres */
        margin: 8px 0; /* Espacement réduit autour des titres */
    }
    table {
        width: 100%; /* Largeur complète pour les tableaux */
        border-collapse: collapse; /* Supprime l'espacement entre les bordures */
        margin-bottom: 10px; /* Espacement réduit entre les tableaux */
        border: 2px solid black; /* Bordures fines */
    }
    th, td {
        font-size: 10px; /* Taille de police réduite pour le contenu des tableaux */
        border: 1px solid #ddd; /* Bordures fines */
        padding: 4px; /* Padding réduit */
        text-align: right; /* Alignement du texte */
    }
    th {
        background-color: #f2f2f2; /* Couleur d'arrière-plan pour les en-têtes de tableaux */
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
    }
    .debutLigne {
        background-color: #007bff; /* Couleur d'arrière-plan pour les lignes de début */
        color: #fff; /* Couleur du texte pour un meilleur contraste */
        font-weight: bold; /* Texte en gras */
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
    }
    .ligneFin {
        text-align: left; /* Alignement du texte à droite pour les lignes finales */
    }
    .information-section {
        margin-bottom: 10px; /* Espacement réduit entre les sections */
    }
  }
</style>


<!--
  Tableau avec liste des vanne  et le info suivante : 
    - numéro de la vanne
    - nom de l'atelier
    - repere de la vanne
    - affectation de la vanne
    - type de vanne

  option pour voir en detail, mettre à jour et supprimer la vanne
-->

<!-- INFO VANNES -->
<div id="infoFiche" style="text-align: center;" >
  <img src="{% static 'appliVanne/IMG/logoSimple.png' %}" alt="logo" style="width: 100px; height: 100px; display: block; margin-left: auto; margin-right: auto;">
  <h1> FICHE DE VIE DE LA VANNE N°{{vanne.id_vanne}}</h1>
</div>
<div id="tableauGeneral">
  <h4>Informations générales de la vanne :</h4>

  <table>
    <tbody>
      <tr class="ligne">
        <td class="debutLigne">ATELIER :</td>
        <td class="ligneFin">{{ vanne.id_atelier.nom_atelier }}</td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">REPERE VANNE :</td>
        <td class="ligneFin">{{ vanne.repere_vanne }}</td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">AFFECTION DE LA VANNE :</td>
        <td class="ligneFin">{{ vanne.affectation_vanne }}</td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">NUMÉRO DE LA COMMANDE :</td>
        <td class="ligneFin">{{ vanne.numero_commande }}</td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">DATE DE LA COMMANDE :</td>
        <td class="ligneFin">{{ vanne.date_achat }}</td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">TYPE DE VANNE :</td>
        <td class="ligneFin">{{ vanne.type_vannes }}</td>
      </tr>
    </tbody>
  </table>

  <!-- INFO CORPS -->
  <h4>Informations sur le corps :</h4>
  <table>
    <tbody>
      <tr class="ligne">
        <td class="debutLigne">FOURNISSEUR :</td>
        <td class="ligneFin">
          {{ vanne.id_corps.id_fournisseur.nom_fournisseur }}
        </td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">TAILLE CORPS (DN) :</td>
        <td class="ligneFin">{{ vanne.id_corps.dn_corps}}</td>
      </tr>

      <tr class="ligne">
        <td class="debutLigne">CODE :</td>
        <td class="ligneFin">{{ vanne.id_corps.code_corps}}</td>
      </tr>

    </tbody>
  </table>
  <table>
    <tbody>
        <tr>
            <td class="debutLigne">TYPE</td>
            <td class="ligneFin">{{vanne.id_corps.type_corps}}</td>
            <td class="debutLigne">NUM. SÉRIE</td>
            <td class="ligneFin">{{vanne.id_corps.num_serie_corps}}</td>
            <td class="debutLigne">CDE MANUELLE</td>
            <td class="ligneFin"> {% if vanne.id_actionneur.commande_manuel == "1"%} Oui {% elif vanne.id_actionneur.commande_manuel is None  %} N/C {% else %} Non {% endif %}</td>
        </tr>

        <tr>
            <td class="debutLigne">PN</td>
            <td class="ligneFin">{{vanne.id_corps.pn_corps}}</td>
            <td class="debutLigne">NORME BRIDES</td>
            <td class="ligneFin">{{vanne.id_corps.norme_bride_corps}}</td>
            <td class="debutLigne">MATIERE ARBRE</td>
            <td class="ligneFin">{{vanne.id_corps.matiere_arbre_corps}}</td>
        </tr>

        <tr>
            <td class="debutLigne">CV</td>
            <td class="ligneFin">{{vanne.id_corps.cv_corps}}</td>
            <td class="debutLigne">GARNITURES</td>
            <td class="ligneFin">{{vanne.id_corps.matiere_garnitures_corps}}</td>
            <td class="debutLigne">MATIERE SIEGE</td>
            <td class="ligneFin">{{vanne.id_corps.matiere_siege_corps}}</td>
        </tr>
        <tr>
            <td class="debutLigne">CORPS</td>
            <td class="ligneFin">{{vanne.id_corps.corps_corps}}</td>
            <td class="debutLigne">TYPE GARN.</td>
            <td class="ligneFin">{{vanne.id_corps.type_garniture_corps}}</td>
            <td class="debutLigne">MATIERE ORG. REG.</td>
            <td class="ligneFin">{{vanne.id_corps.matiere_org_reglant_corps}}</td>
        </tr>
      
    </tbody>
  </table>

  <!-- INFO ACTIONNEUR -->
  <h4>Informations sur l'actionneur :</h4>
  <table>
    <tbody>
      <tr class="ligne">
        <td class="debutLigne">FOURNISSEUR :</td>
        <td class="ligneFin">
          {{ vanne.id_actionneur.id_fournisseur.nom_fournisseur }}
        </td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">TAILLE :</td>
        <td class="ligneFin">{{ vanne.id_actionneur.taille_actionneur}}</td>
      </tr>


    </tbody>
  </table>
  <table>
    <tbody>
        <tr>
            <td class="debutLigne">TYPE</td>
            <td class="ligneFin">{{vanne.id_corps.type_corps}}</td>
            <td class="debutLigne">NUM. SÉRIE</td>
            <td class="ligneFin">{{vanne.id_actionneur.num_serie_actionneur}}</td>
            <td class="debutLigne">CDE MANUELLE</td>
            <td class="ligneFin"> {% if vanne.id_actionneur.commande_manuel == "1"%} Oui {% else %} Non {% endif %}

          </td>
                    </tr>
        <tr>
            <td class="debutLigne">SENS : </td>
            <td class="ligneFin">{{vanne.id_actionneur.sens_actionneur}}</td>
            <td class="debutLigne">PRESSION ALIM.</td>
            <td class="ligneFin">{{vanne.id_actionneur.pression_alimentation}}</td>
            <td class="debutLigne">TYPE CONTACT </td>
            <td class="ligneFin">{{vanne.id_actionneur.type_contact_actionneur}}</td>
        </tr>

        <tr>
            <td class="debutLigne">EFFET </td>
            <td class="ligneFin">{{vanne.id_actionneur.actionneur_simpl_double_effet}}</td>
            <td class="debutLigne">CONTACT</td>
            <td class="ligneFin">{{vanne.id_actionneur.contact_ouv_ferm_actionneur}}</td>
            <td class="debutLigne"></td>
            <td class="ligneFin"></td>
        </tr>
       <!-- <tr>
            <td class="debutLigne">CORPS</td>
            <td class="ligneFin">{{vanne.id_corps.corps_corps}}</td>
            <td class="debutLigne">TYPE ?</td>
            <td class="ligneFin">{{vanne.id_corps.type_corps}}</td>
            <td class="debutLigne">MATIERE ORG. REG.</td>
            <td class="ligneFin">{{vanne.id_corps.matiere_org_reglant}}</td>
        </tr>
      -->
    </tbody>
  </table>


  <!-- INFO CORPS -->

  {% if vanne.id_positionneur is null %}

  <h4 style="margin-bottom:10cm" > Aucun positionneur pour cette vanne </h4>
    
  {% else %}

  <h4>Informations sur le positionneur :</h4>
  <table>
    <tbody>
      <tr class="ligne">
        <td class="debutLigne">FOURNISSEUR :</td>
        <td class="ligneFin">
          {{ vanne.id_positionneur.id_fournisseur.nom_fournisseur }}
        </td>
      </tr>
      <tr class="ligne">
        <td class="debutLigne">TECHNOLOGIE POSITIONNEUR :</td>
        <td class="ligneFin">{{ vanne.id_positionneur.fonctionnement_positionneur.description_type_positionneur}}</td>
      </tr>

      <tr class="ligne">
        <td class="debutLigne">TYPE POSITIONNEUR :</td>
        <td class="ligneFin">{{ vanne.id_positionneur.type_positionneur}}</td>
      </tr>

    </tbody>
  </table>
  <table style="margin-bottom:7.5cm">
    <tbody>
        <tr>
            <td class="debutLigne">Alimentation</td>
            <td class="ligneFin">{{vanne.id_positionneur.presion_positionneur}}</td>
            <td class="debutLigne">NUM. SERIE</td>
            <td class="ligneFin">{{vanne.id_positionneur.num_serie_positionneur}}</td>
            <td class="debutLigne">LOI</td>
            <td class="ligneFin">{{vanne.id_positionneur.loi_positionneur}}</td>
        </tr>

        <tr>
            <td class="debutLigne">SIGNAL ENTRÉE</td>
            <td class="ligneFin">{{vanne.id_positionneur.signal_entre_positionneur}}</td>
            <td class="debutLigne">REPERE CAME</td>
            <td class="ligneFin">{{vanne.id_positionneur.repere_came}}</td>
            <td class="debutLigne">FERME A</td>
            <td class="ligneFin">{{vanne.id_positionneur.femer_aS}}</td>
        </tr>

        <tr>
            <td class="debutLigne">SIGNAL SORTIE</td>
            <td class="ligneFin">{{vanne.id_positionneur.signal_sortie}}</td>
            <td class="debutLigne">FACE CAME</td>
            <td class="ligneFin">{{vanne.id_positionneur.face_came}}</td>
            <td class="debutLigne">OUVERT A</td>
            <td class="ligneFin">{{vanne.id_positionneur.ouvert_a}}</td>
        </tr>
        <tr>
            <td class="debutLigne">SENS ACTION</td>
            <td class="ligneFin">{{vanne.id_positionneur.sens_action}}</td>
            <td class="debutLigne"></td>
            <td class="ligneFin"></td>
            <td class="debutLigne"></td>
            <td class="ligneFin"></td>
        </tr>
      
    </tbody>
  </table >


  
  {% endif %}


<h1>Historique des modifications majeurs</h1>
<table class="table table-striped  historique-modifications">
  <thead>
    <tr>
      <th scope="col"> Id révision</a></th>
      <th scope="col"> Id de la vanne</th>
      <th scope="col"> Date révision </a></th>
      <th scope="col">Type de révision </th>
      <th scope="col">Commentaire </th>
      <th scope="col">Nom du technicien</th>

    </tr>
  </thead>

  {% for rev in listeRev %}
    <tr>
      <td>{{ rev.id_revision}}</td>
      <td>{{ rev.rev_id_vanne}}</td>
      <td>{{ rev.date_revision }}</td>
      <td>{{ rev.type_revision }}</td> 
      <td>{{ rev.commentaire_revision }}</td> 
      <td>{{ rev.nom_technicien}}</td>
      
    </tr>
  {% endfor %}
</table>


<script>
  window.addEventListener('load', function() {
    window.print();
  });
</script>

</div> <!-- <div id="tableauGeneral">-->
