{% extends "appliVanne/base.html" %}
{% load static %} {% block title %} Révision {% endblock %}


    
{% block main %}


<style>
    .container {
        width: 80%;
        margin: auto;
        padding-top: 20px;
    }
    
    .jumbotron {
        background-color: #f8f9fa;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
    }
    
    .card {
        border: 1px solid #ddd;
        margin-top: 20px;
    }
    
    .card-header {
        background-color: #f7f7f7;
        font-weight: bold;
    }
    
    .list-group-item {
        border: none;
        border-bottom: 1px solid #eee;
    }
    
    .list-group-item:last-child {
        border-bottom: none;
    }
    
    /* Vous pouvez ajouter des styles personnalisés ici */
    
</style>
<div style = "margin-bottom:70px" class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Révision de la vanne n°{{lesRev}}</h1>
        <p class="lead">Révision du <script>var today = new Date(); document.write( today.toLocaleDateString() ); </script></p>
        <hr class="my-4">
        <p>Type d'ajout : MANUELLE</p>
        <p>Type de commentaire: Révision</p>
        <p>Nom du technicien : {{ request.user.first_name }}  {{request.user.last_name }}</p>
        <p>Commentaire : Revision effectué</p>

    </div>

    <div class="card">
        <div class="card-header">
            Détails de la Révision
        </div>
        <ul class="list-group list-group-flush">
            <form method="post" action="traitement_revision">
            <textarea id="id_commentaire" name="commentaire" rows="30"></textarea>
            

        </ul>
        <button  type="submit">Enregistrer</button>
    </div>
</div>



    <script src="//cdn.tiny.cloud/1/u4yuqji0ycc8q23g117hclj1pzkkb75a94jn8shw20c97jkz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
    tinymce.init({
      selector: '#id_commentaire'
      // ... autres options d'initialisation ...
    });
    </script>
{% endblock %}