
        <!-- Information general de la vanne -->

        <div id="infoGeneral">
            <!-- Atelier ou nouveau atelier -->
            

            <!-- Fournisseur ou nouveau fournisseur -->
            <div class="form-group">
                <label for="fournisseur">Fournisseur:</label>
                <select name="fournisseur" id="fournisseur" class="form-control">
                    
                    {% for frn in listFournisseur %}
                    <option value="{{frn.id_fournisseur}}">{{ frn.nom_fournisseur}}</option>
                    {% endfor %}
                    <option value="autre">Autre ... </option>
                </select>

                    <!-- Ajoutez ce div pour le nouveau champ qui apparaîtra pour "Autre" -->
                <div class="form-group" id="nouveauFournisseur" style="display:none;">
                    <label for="nouveauFournisseur">Nom du Nouveau Fournisseur:</label>
                    <input type="text" name="nouveauFournisseur" id="nouveauFournisseur" class="form-control">
                </div>

            </div>

            <!--Repere-->
            <div class="form-group">
                <label for="id_repere">Repère:</label>
                <input type="text" name="repere" id="id_repere" class="form-control">
            </div>
            
            <!--Affectation-->
            <div class="form-group">
                <label for="id_repere">Affectation:</label>
                <input type="text" name="repere" id="id_repere" class="form-control">
            </div>

            <!--Numero de la Commande-->
            <div class="form-group">
                <label for="id_repere">Numero de la Commande:</label>
                <input type="text" name="repere" id="id_repere" class="form-control">
            </div>

            <!--Date de la Commande-->
            <div class="form-group">
                <label for="id_repere">Date de la Commande:</label>
                <input type="date" name="repere" id="id_repere" class="form-control">
            </div>

            <!--Type de la Vannes-->
            <div class="form-group">
                <label for="id_repere">Type de vanne:</label>
                <select name="fournisseur" id="fournisseur" class="form-control">
                    <option value="1">TOR</option>
                    <option value="2">REG</option>
                </select>
            </div>
        </div>

        <!-- Information sur le CORPS -->
        <div id="infoCorps">
            <!-- Titre en gras -->
            <p class="bold"> Information sur le CORPS </p>

            <!-- Les trois premières informations restent sous forme de divs -->

            <!-- Fournisseur -->
            <div class="form-group">
                <label for="fournisseur">Fournisseur:</label>
                <select name="fournisseur" id="fournisseur" class="form-control">
                    {% for frn in listFournisseur %}
                    <option value="{{frn.id_fournisseur}}">{{ frn.nom_fournisseur}}</option>
                    {% endfor %}
                    <option value="autre">Autre ... </option>
                </select>
                <!-- Ajoutez ce div pour le nouveau champ qui apparaîtra pour "Autre" -->
                <div class="form-group" id="nouveauFournisseur" style="display:none;">
                    <label for="nouveauFournisseur">Nom du Nouveau Fournisseur:</label>
                    <input type="text" name="nouveauFournisseur" id="nouveauFournisseur" class="form-control">
                </div>
            </div>

            <!-- Taille du corps -->
            <div class="form-group">
                <label for="id_repere"> Taille du corps:</label>
                <input type="number" name="repere" id="id_repere" class="form-control">
            </div>

            <!-- Code du corps -->
            <div class="form-group">
                <label for="id_repere"> Code du corps:</label>
                <input type="text" name="repere" id="id_repere" class="form-control">
            </div>

            <!-- Type de corps -->
            <div class="form-group">
                <label for="id_repere"> Type de corps:</label>
                <input type="text" name="repere" id="id_repere" class="form-control">
            </div>

            <!-- Informations suivantes organisées dans un tableau -->
            <div class="table-container">

                <table>
                    <tr>
                        <th>PN Corps</th>
                        <th>CV Corps</th>
                        <th>Numéro de série corps</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="pn_corps" class="form-control"></td>
                        <td><input type="text" name="cv_corps" class="form-control"></td>
                        <td><input type="text" name="numero_serie_corps" class="form-control"></td>
                    </tr>
                </table>

                <!-- Autres informations sous forme de tableau -->
                <table>
                    <tr>
                        <th>Corps corps</th>
                        <th>Norme bride corps</th>
                        <th>Garniture corps</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="corps_corps" class="form-control"></td>
                        <td><input type="text" name="norme_bride_corps" class="form-control"></td>
                        <td><input type="text" name="garniture_corps" class="form-control"></td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <th>Matière arbre</th>
                        <th>Matière siège</th>
                        <th>Matière organe réglant</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="matiere_arbre" class="form-control"></td>
                        <td><input type="text" name="matiere_siege" class="form-control"></td>
                        <td><input type="text" name="matiere_organe_reglant" class="form-control"></td>
                    </tr>
                </table>
                
            </div>

        </div>

        <div id="infoActionneur">
            <!-- Titre en gras -->
            <p class="bold"> Information sur l'actionneur </p>

            <!-- Les trois premières informations restent sous forme de divs -->

            <!-- Fournisseur -->
            <div class="form-group">
                <label for="fournisseur">Fournisseur:</label>
                <select name="fournisseur" id="fournisseur" class="form-control">
                    {% for frn in listFournisseur %}
                    <option value="{{frn.id_fournisseur}}">{{ frn.nom_fournisseur}}</option>
                    {% endfor %}
                    <option value="autre">Autre ... </option>
                </select>
                <!-- Ajoutez ce div pour le nouveau champ qui apparaîtra pour "Autre" -->
                <div class="form-group" id="nouveauFournisseur" style="display:none;">
                    <label for="nouveauFournisseur">Nom du Nouveau Fournisseur:</label>
                    <input type="text" name="nouveauFournisseur" id="nouveauFournisseur" class="form-control">
                </div>
            </div>

            <!-- Taille de l'actionneur -->
            <div class="form-group">
                <label for="id_repere"> Taille de l'actionneur:</label>
                <input type="number" name="repere" id="id_repere" class="form-control">
            </div>

            <!-- Type d'actionneur -->
            <div class="form-group">
                <label for="id_repere"> Type d'actionneur:</label>
                <input type="text" name="repere" id="id_repere" class="form-control">
            </div>

            <!-- Informations suivantes organisées dans un tableau -->
            <div class="table-container">

                <table>
                    <tr>
                        <th>Numéro de serie</th>
                        <th>CDE. Manuelle</th>
                        <th>Sens</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="pn_corps" class="form-control"></td>
                        <td><input type="text" name="cv_corps" class="form-control"></td>
                        <td><input type="text" name="numero_serie_corps" class="form-control"></td>
                    </tr>
                </table>

                <!-- Autres informations sous forme de tableau -->
                <table>
                    <tr>
                        <th>Pression Alim.</th>
                        <th>Type Contact</th>
                        <th>Effet</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="corps_corps" class="form-control"></td>
                        <td><input type="text" name="norme_bride_corps" class="form-control"></td>
                        <td><input type="text" name="garniture_corps" class="form-control"></td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <th>Contact</th>
                        
                    </tr>
                    <tr>
                        <td><input type="text" name="matiere_arbre" class="form-control"></td>
                        
                    </tr>
                </table>
                
            </div>
            
        </div>