{% extends "appliVanne/base.html" %} {% block title %} Les vannes {% endblock %}
{% block main %}

{% if sucess %}
<h1 style="color: green; font-weight: bold; text-align: center;">
  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
  </svg>
   la vanne a été enregistré avec succès </h1>
  {% endif %}
  
<h2>Nombre total de vannes présente sur le site :  {{listeVannes|length}}</h2>

<!--
  Tableau avec liste des vanne  et le info suivante : 
    - numéro de la vanne
    - nom de l'atelier
    - repere de la vanne
    - affectation de la vanne
    - type de vanne

  option pour voir en detail, mettre à jour et supprimer la vanne
-->
  

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"> <a href="?tri=id_vanne&ordre={% if request.GET.tri == 'id_vanne' and request.GET.ordre == 'asc' %}desc{% else %}asc{% endif %}"> Identifiant</a></th>
        <th scope="col"><a href="?tri=id_atelier__nom_atelier&ordre={% if request.GET.tri == 'id_atelier__nom_atelier' and request.GET.ordre == 'asc' %}desc{% else %}asc{% endif %}"> Atelier</a></th>
        <th scope="col">Repere Vannes </th>
        <th scope="col">Affectation </th>
        <th scope="col">Type de vanne </th>
        <th scope="col"> Prochaine maintenance</th>
        <th scope="col">PLUS</th>
  
      </tr>
    </thead>

    {% for vanne in listeVannes %}
      <tr>
        <td>{{ vanne.id_vanne}}</td>
        <td>{{ vanne.id_atelier.nom_atelier}}</td>
        <td>{{ vanne.repere_vanne }}</td>
        <td>{{ vanne.affectation_vanne }}</td> 
        <td>{{ vanne.type_vannes }}</td> 
        <td>{{ vanne.voir_en }}</td>
        <td><a class="detdel"  href="/vanne/{{vanne.id_vanne}}/detail">DETAIL </a>/ 
            <a class="detdel"  href="/vanne/{{vanne.id_vanne}}/delete"> DELETE</a>
        </td>
        
      </tr>
    {% endfor %}
  </table>



{% endblock %}
